.fa-circle-notch{
   animation: colorate 2.5s infinite linear;
}
@keyframes colorate {
   to{
     transform: rotate(360deg);
     transition: 1s;
   }
   10%{
     color: red;
   }
   30%{
     color: magenta;
   }
   50%{
     color: blue;
   }
   80%{
     color: orangered;
   }

   90%{
     color: blue;
   }

}
 .card__only__show{
   display: flex;
   text-align: center;
   flex-direction: column;
 }
 .card__only__show__description{
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
 }
@media screen and (min-width: 800px) {
    .card__only__show{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    /*
    .card__only__show__description{
      display: flex;
      text-align: center;
      flex-direction: row;
      justify-content: center;
    }*/
}
.wraps{
  word-wrap: wrap;
  word-break: break-all;
  color: #222;
}
.module1{
  text-align: center;
  width: 270px;
  border-radius: 4px;
  margin: .3em;
  background-color: #45bd2d;
  border: none;
  height: auto;

}
.module1 div{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  margin:0;

}
.module1 div p{
  font-family: couriel;
  font-size: 19px;
  color: #eee;
  line-height: 22px;
  word-spacing: .3px;
  letter-spacing: .4px;
}
.module1 div h1{
  margin:0;
  color: #ddd;
  font-size: 18px;

}
.main__title{
  color: white;
  margin:0;
  border-bottom: 2px solid #ddd;
  font-size: 22px;
  font-family: arial;
}

.image__original{
  width: 280px;
}
