

<section class="poster in">


    <article class="poster__app in">

      <div class="containerTitle">

        <div>
            <h1 class="title poster__title">
                Movie Catalogs <span class="fas fa-film text--white"></span>
          </h1>
        </div>
        <div class="containerImages in" id="containerImages">
          <img [src]="sliderRoutes[0]" alt="poster" class="poster__image in">
        </div>

      </div>

      <div class="containerContentDescriptionApp">
        <p class="textDescription">Mira las sinopsis de tus peliculas O series Favoritas!</p>

        <button class="btn--add min in" (click)="navigateToHome()">Go to catalogs
           <span class="fas fa-location-arrow"></span>
        </button>

      </div>

    </article>
</section>
