

<section class="poster">


    <article class="poster__app inTop">

      <div class="containerTitle">

        <div>
            <h1 class="title poster__title">
                Movie Catalogs <span class="fas fa-film text--white"></span>
          </h1>
        </div>
        <div class="containerImages in" id="containerImages">
          <img [src]="sliderRoutes[0]" alt="poster" class="poster__image in">

          <div class="posterHide">
          </div>
        </div>

      </div>

      <div class="containerContentDescriptionApp">
        <p class="textDescription">Mira las sinopsis de tus peliculas O series Favoritas!</p>

        <button class="btn--add min inBottom" (click)="navigateToHome()" mat-button matRipple matRippleUnbounded="true" matRippleRadius="100" >Go to catalogs
           <span class="fas fa-location-arrow"></span>
        </button>

      </div>

    </article>
</section>
