
 .fa-circle-notch{
    animation: colorate 2.5s infinite linear;
}
@keyframes colorate {
    to{
      transform: rotate(360deg);
      transition: 1s;
    }
    10%{
      color: red;
    }
    30%{
      color: magenta;
    }
    50%{
      color: blue;
    }
    80%{
      color: orangered;
    }

    90%{
      color: blue;
    }

}
