
<h1 class="title text--red in">Types of show</h1>
<section class="card__states inBottom ">


    <div (click)="goToComedy()" class="state comedy"  >
      <!-- <span class="fas fa-circle-notch" *ngIf="showCard==0"></span> -->
        <button mat-button>Comedy</button>

    </div>

    <div (click)="goToTerror()" class="state terror">
      <!-- <span class="fas fa-circle-notch" *ngIf="showCard==0"></span> -->
        <button mat-button>Terror</button>


    </div>

    <div (click)="goToRomance()" class="state romance">
        <button mat-button>Romance</button>
        <!-- <span class="fas fa-circle-notch" *ngIf="showCard==0"></span> -->

    </div>

    <div (click)="goToAnime()" class="state anime">
        <button mat-button>Anime</button>
        <!-- <span class="fas fa-circle-notch" *ngIf="showCard==0"></span> -->

    </div>

    <div (click)="goToAction()" class="state action">
        <button mat-button>Action</button>
        <!-- <span class="fas fa-circle-notch" *ngIf="showCard==0"></span> -->

    </div>


</section>
