
.state{
  width: inherit;
  height: 70px;
 
  text-align: center;
 
  border: 1px solid #333; 
  color: #222;
  font-family: monospace;
  font-weight: 600;
  /* margin-bottom: -2em; */
  line-height: 30px;
  font-size: 14px;
  cursor: pointer;

}
 
 

 

.card__states{
  margin:0;
  margin-left: -15px;
  width: 110%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.fa-circle-notch{
  color: black;
  animation: rotateCircle 1.4s infinite linear;
  transition: 1s;
   
  position: relative;
  top: 10px;
  /* position: relative; */
  /* top: 150px; */
}
@keyframes rotateCircle {
    to{
      transform: rotate(360deg);
      transition: 1s;
    }
    10%{
      color: red;
    }
    30%{
      color: magenta;
    }
    50%{
      color: blue;
    }
    80%{
      color: orangered;
    }

    90%{
      color: blue;
    }

}
.fa-circle-notch{
  top: -50px;
  position: relative;
}
.title{
  font-family: monospace;
}
