
.state{
  width: 270px;
  height: 70px;
  text-align: center;
  border-radius: 5px;
  /* border: 1px solid red; */
  color: white;
  font-family: monospace;
  font-weight: 600;
  margin: .5em;
  /* margin-bottom: -2em; */
  line-height: 30px;
  font-size: 14px;
  cursor: pointer;

}

 .comedy{
   background-image: linear-gradient(to bottom, blue, #ddd);

   transition: 1s;
 }

 .terror{
   background-image: linear-gradient(to top, black, #777);

   transition: 1s;
 }

 .romance{
   background-image: linear-gradient(to bottom, red, magenta);

   transition: 1s;
 }
div button{
  margin-top: 15px;
}
 .anime{
   background-image: linear-gradient(to bottom, yellow, orangered);

   transition: 1s;
 }

 .action{
   background-image: linear-gradient(to top, pink, #eee);
   animation: ;
   color: #444;
   transition: 1s;
 }

.card__states{
  margin-top: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.fa-circle-notch{
  color: black;
  animation: rotateCircle 1.4s infinite linear;
  transition: 1s;
   
  position: relative;
  top: 10px;
  /* position: relative; */
  /* top: 150px; */
}
@keyframes rotateCircle {
    to{
      transform: rotate(360deg);
      transition: 1s;
    }
    10%{
      color: red;
    }
    30%{
      color: magenta;
    }
    50%{
      color: blue;
    }
    80%{
      color: orangered;
    }

    90%{
      color: blue;
    }

}
.fa-circle-notch{
  top: -50px;
  position: relative;
}
.title{
  font-family: monospace;
}
