 
<section class="card__states inBottom ">


    <div (click)="goToComedy()" class="state comedy"   matRipple matRippleUnbounded="false" matRippleRadius="70" >
        <p>Comedy</p>
    </div>

    <div (click)="goToTerror()" class="state terror" matRipple matRippleUnbounded="false" matRippleRadius="70">
       <p>Terror</p>
    </div>

    <div (click)="goToRomance()" class="state romance" matRipple matRippleUnbounded="false" matRippleRadius="70">
        <p>Romance</p>
    </div>

    <div (click)="goToAnime()" class="state anime" matRipple matRippleUnbounded="false" matRippleRadius="70">
        <p>Anime</p>
    </div>

    <div (click)="goToAction()" class="state action" matRipple matRippleUnbounded="false" matRippleRadius="70">
        <p>Action</p>
    </div>


</section>
