
<h1 class="title text--red in">Types of show</h1>
<section class="card__states inBottom ">


    <div (click)="goToComedy()" class="state comedy"   matRipple matRippleUnbounded="true" matRippleRadius="100" >
        <p>Comedy</p>
    </div>

    <div (click)="goToTerror()" class="state terror" matRipple matRippleUnbounded="true" matRippleRadius="100">
       <p>Terror</p>
    </div>

    <div (click)="goToRomance()" class="state romance" matRipple matRippleUnbounded="true" matRippleRadius="100">
        <p>Romance</p>
    </div>

    <div (click)="goToAnime()" class="state anime" matRipple matRippleUnbounded="true" matRippleRadius="100">
        <p>Anime</p>
    </div>

    <div (click)="goToAction()" class="state action" matRipple matRippleUnbounded="true" matRippleRadius="100">
        <p>Action</p>
    </div>


</section>
