
<div class="responsive inOuts" *ngIf="spinner.off">
    <mat-spinner color="warn"></mat-spinner>
</div>
<!--

<section class="responsive" *ngIf="!spinner.off">


    <mat-list>
        <mat-list-item *ngFor="let show of shows|slice:0:5">
        <img matListAvatar src="{{show.image.medium}}" alt="...">
        <h3 matLine> {{show.name}} </h3>

        </mat-list-item>
    </mat-list>

</section>
-->
<div class="responsiveIn" >



    <mat-card class="sizeCard inTop" matRipple matRippleUnbounded="true"
    matRippleCentered="true"
     matRippleRadius="80" *ngFor="let show of shows|slice:startShow:endShow">

        <mat-card-title> {{show.name}}	</mat-card-title>
        <img mat-card-image class="minmin"  src="{{show.image.medium}}">

        <div  class="add">
          <i class="far fa-plus-square" style=""></i>
        </div>
    </mat-card>
    <br>

</div>

<div class="responsiveButtons">
    <button [disabled]="spinner.off" (click)="backPage()"  class="btn--red" mat-button> <span class="fas fa-arrow-left"></span> Back</button>
    <button  [disabled]="spinner.off" (click)="nextPage()" class="btn--green" mat-button>Next <span class="fas fa-arrow-right"></span></button>
</div>
