<nav class="menu--black" style="margin-top:-30px">
    <li class="inTop "><a class="sizein"  [routerLinkActive]="['active']" [routerLink]="['/home']">Home <span class="fas fa-home text--red"></span>  </a></li>
    <li class="inTop "><a class="sizein"  [routerLinkActive]="['active']" [routerLink]="['/shows']">Shows <span class="fas fa-tv text--red"></span>  </a></li>
    <li class="inTop "><a  class="sizein" [routerLinkActive]="['active']" [routerLink]="['/navigate']">Explore  <span class="fas fa-paper-plane text--red"></span> </a></li>

    <li class="inTop"><a   class="sizein" [routerLinkActive]="['active']" [routerLink]="['/search']"> Search <span class="fas fa-search text--red">  </span> </a></li>

</nav>
<section class="theme--black">
 
  <div class="responsive" *ngIf="menu.hidden">
    <h1 class="title letter2 text--white">Search</h1>
  </div>

  <div class="form responsive" [class]="menu.classTop" *ngIf="menu.hidden">
    <input type="search" class="input" placeholder="Search" #val > <button mat-stroked-button class="text--red" (click)="redirectToSearch(val.value)"> Ok </button>
  </div>
      <div class="responsive__submenu in" *ngIf="menu.hidden" >
        <button (click)="redirectToExplore('comedy')" mat-button [class]="menu.classTop">Comedy</button>
        <button (click)="redirectToExplore('terror')" mat-button [class]="menu.classTop">Terror</button>
        <button (click)="redirectToExplore('romance')" mat-button [class]="menu.classTop">Romance</button>
        <button (click)="redirectToExplore('actions')" mat-button [class]="menu.classTop">Action</button>
        <button (click)="redirectToExplore('comic')" mat-button [class]="menu.classTop">Comic</button>
        <button (click)="redirectToExplore('anime')" mat-button [class]="menu.classTop">Anime</button>
        <button (click)="redirectToExplore('entertainment')" mat-button [class]="menu.classTop">Entertainment</button>
        <button (click)="redirectToExplore('fiction')" mat-button [class]="menu.classTop">Fiction</button>
        <button (click)="redirectToExplore('drama')" mat-button [class]="menu.classTop">Drama</button>
    </div>

    <br>

</section>
<div class="containerArrow" matRipple matRippleUnbounded="true" matRippleColor="rgba(0%, 0%, 0%, 60%)" matRippleRadius="10" (click)="showMenu()">
  <span></span>
  <strong class="fas fa-arrow-up " [ngClass]="{'rotate__submenu':!menu.hidden}"></strong>
</div>

<router-outlet></router-outlet>
