<nav class="menu--black" style="margin-top:-30px">
    <li class="inTop"><a   [routerLinkActive]="['active']" [routerLink]="['/home']">Home</a></li>
    <li class="inTop"><a   [routerLinkActive]="['active']" [routerLink]="['/search']">Search <span class="fas fa-search text--red"></span> </a></li>
    <li class="inTop"><a   [routerLinkActive]="['active']" [routerLink]="['/navigate']">Navigate  <span class="fas fa-paper-plane text--red"></span> </a></li>

</nav>
<section class="theme--black">
    <h1>Naruto</h1>
</section>
<router-outlet></router-outlet>
