.menu--black{
    margin-bottom: 0;
 }

.containerArrow{
  position: absolute;
  top:45px;
  right:  0;
}
.containerArrow *{
  color: white;  
}
.input{
  color: #333;
}
.rotate__submenu{
  transform: rotate(180deg);
}
.sizein{
    font-weight: 500;
    word-spacing: .3px;
    font-size:12px;
}
.responsive__submenu{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    margin-left: -15px;

}
.responsive__submenu *{
    font-size: 10px;
    font-family: roboto;
    width: 315px;
    margin-bottom: 5px;

}
