form input{
  border: none;
  border-bottom: 2px solid #eee;
  border-left: none;
  border-right: none;
  box-shadow: none;
  border-radius: 3px;
  transition: .7s;
}
form input:hover{
  transition: .7s;
  border-color: lightblue;
}
.fa-circle-notch{}
