form input{
  border: none;
  border-bottom: 2px solid #eee;
  border-left: none;
  border-right: none;
  box-shadow: none;
  border-radius: 3px;
  transition: .7s;
}
form input:hover{
  transition: .7s;
  border-color: lightblue;
}
.responsive{
    margin-top: 230px;
}
.fa-paper-plane{
  margin:0;
  padding:0;
  color: orangered;
}
.navigate__button{
  cursor:pointer;
  font-weight: 600;
  color: #444;
  width: 100px;
  font-family: arial;
  border: none;
  background-color: #eee;
  border-radius: 2px;
}
.navigate__button:hover{
  background-color: #ddd;
  transition: .3s;
}
