<form class="form in">
  <input class="large" type="search" name="search" placeholder="Search your catalog">
</form>


<section class="card__states in ">

    <div class="blurtime state comedy">
        <p>Comedy</p>
        <!-- <span class="fas fa-circle-notch" *ngIf="showCard==0"></span> -->

    </div>

    <div class="blurtime state terror">
        <p>Terror</p>
        <!-- <span class="fas fa-circle-notch" *ngIf="showCard==0"></span> -->

    </div>

    <div class="blurtime state romance">
        <p>Romance</p>
        <!-- <span class="fas fa-circle-notch" *ngIf="showCard==0"></span> -->

    </div>

    <div class="blurtime state anime">
        <p>Anime</p>
        <!-- <span class="fas fa-circle-notch" *ngIf="showCard==0"></span> -->

    </div>
</section>

<router-outlet></router-outlet>
