form input{
  border: none;
  border-bottom: 2px solid #eee;
  border-left: none;
  border-right: none;
  box-shadow: none;
  border-radius: 3px;
  transition: .7s;
}
form input:hover{
  transition: .7s;
  border-bottom-color: #ddd;
}
.responsive{
    margin-top: 230px;
}
.fa-paper-plane, .fa-arrow-left{
  margin:0;
  padding:0;
  /* color: orangered; */
}
.inOut{
  animation: outs 1s linear;
}
@keyframes outs{
  from{
      transform: scale(0)
  }
  to{
      transform: scale(.5)
  }
}