.cards__action__container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}
.card__border{
  width: inherit;
  height: inherit;
  border: 1px solid #eee;
  min-height: 200px;
  margin: .3em;
  margin-left: -1px;
  border-radius: 10px;
}
.fa-circle-notch{
  color: black;
  animation: rotateCircle 1.4s infinite linear;
  transition: 1s;
  position: relative;
  top: 150px;
}
.fa-star{
    animation: colorates 3s infinite linear;
}
@keyframes colorates {
    to{
      transition: 1s;
    }
    10%{
      color: red;
    }
    30%{
      color: magenta;
    }
    50%{
      color: blue;
    }
    80%{
      color: orangered;
    }

    90%{
      color: blue;
    }

}
 .fa-circle-notch{
    animation: colorate 2.5s infinite linear;
}
@keyframes colorate {
    to{
      transform: rotate(360deg);
      transition: 1s;
    }
    10%{
      color: red;
    }
    30%{
      color: magenta;
    }
    50%{
      color: blue;
    }
    80%{
      color: orangered;
    }

    90%{
      color: blue;
    }

}
.title{
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 400px) {
  .cards__action{
    margin-left: -10px;
  }
  .card__border{
    margin-left: -8px;
  }
}
.cards__action{
  margin: .3em;
  width: 270px;
  min-height: 200px;
  border-radius: 10px;
  /* margin-left: -10px; */
  /* height: 470px; */
  text-align: center;
}

.cards__action__title{
  margin:0;
  font-family: monospace;
  font-size: 20px;
  color: #222;
}

.navigate__button{
  cursor:pointer;
  font-weight: 600;
  color: #777;
  width: 150px;
  font-family: arial;
  border: none;
  background-color: #eee;
  border-radius: 3px;
  transition: .5s;
}
.navigate__button:hover{
  background-color: #ddd
}
.fa-paper-plane{
  margin:0;
  padding:0;
}
.btn--add:hover .fa-arrow-right{
  transform: translateX(30px);
  transition: .8s;
  opacity: .6;
  color: lightgreen;
}
.fa-arrow-right{
  transition: .4s;
  margin: 0;
  padding:0;
}
.cards__action__image{
  width: 250px;
  height: auto;
  border-radius: 5px;
  text-align: center;
  border-radius: 15px;
}
