
  <div class="responsive inOuts" style="margin-top: 0px" *ngIf="spinner.off">
    <mat-spinner  color="warn"></mat-spinner>
  </div>

<h1 class="title text--blue inTop" *ngIf="!spinner.off">Action <span class="fas fa-star text--red"></span> </h1>
<section class="cards__action__container in">

  <article class="cards__action inBottom" *ngFor="let action of actionCard | slice:0:4">

      <div class="card__border"  *ngIf="showCard==1" (click)="showCardOnly(action.show.id)" matRipple >

        <h1 class="cards__action__title">{{action.show.name}}</h1>
        <img [src]="action.show.image.original" alt="poster" class="cards__action__image">
       </div>



  </article>

</section>
